.product-scroll-container {
  overflow-x: auto;
  padding: 1rem;
}

.product-scroll-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}

.product-scroll-wrapper app-product-card {
  flex: 0 0 auto;
  width: 200px;
}

.banner {
  text-align: center;
}

.banner img {
  width: auto;
  height: auto;
  width: 100%;
  height: 100vh;
  display: block;
  cursor: pointer;
}






